---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

<!--added on 7/29/25 to place image on the right of name and wrap text on the left of the image -->
<div style="display: flex; align-items: flex-start; gap: 20px; flex-wrap: wrap;">
  <div style="flex: 1; min-width: 250px;">
    <h1>{{ site.title }}</h1>
    {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
    {% endif %}
  </div>

  {% if site.profile_image %}
    <div style="flex-shrink: 0;">
      <img src="{{ site.profile_image }}" alt="Profile picture" style="max-width: 200px; border-radius: 10px;" />
    </div>
  {% endif %}
</div>

<!--  <h1>{{ site.title }}</h1> -->
<!--  {% if site.theme_config.show_description == true %} -->
<!--    <p>{{ site.description }}</p> -->
<!--  {% endif %} -->
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
